*{
    padding: 0;
    margin: 0;
}
.nav-container{
    display: flex;
    padding: 15px;
    justify-content: space-around;
    background-color: #D5D2D2;
    /* color: white; */
}
.items{
    display: flex;
    list-style: none;
}
.item{
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
}

.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("images/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 86px;
    
}
.red-title{
    color: #F52C2C;
}
.banner-desription p{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px 0;
}
.btn{
    padding: 15px 35px;
    border: none;
    margin: 5px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
}
.btn-discover{
    background-color: #F52C2C;
    color: #fff;
}

.service-btn{
    background-color: gray;
    border-radius: 25px;
    color: #fff;
    
}
.service-container{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-image: url(images/image/footer-bg.png),
    linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-left-container{
    padding: 15px;
    width: 50%;
}

.service-title{
    font-size: 40px;
    font-weight: bold;

}

.service-description{
    width: 75%;
    font-size: 20px;
    padding: 12px 0;
    color: rgb(190, 207, 208);
}
.service-details ol{
    padding: 0 15px;
}

.author{
    display: flex;
    align-items: center;
    padding-right: 30px;
    border-right: 1px solid red;
    margin-right: 5px;
}
.author-details{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.author-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 10px;
}

.btn-more{
    border-radius: 25px;
    color: #F52C2C;
}

.service{
    padding: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 8px gray;
    width: 250px;
    height: 250px;
    text-align: center;
    color: #000;
    border-radius: 5px;
    margin: 7px;
}

.service-logo{
    width: 50%;
    padding-bottom: 10px;
}

.service-up{
    display: flex;
}

.service-down{
    display: flex;
}


/* == Appointment Section == */
